.trailer {
  width: 560px;
  height: 315px;
}
.modal-content {
  width: 560px !important;
  background: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .trailer {
    width: 375px;
    height: auto;
  }
  .modal-content {
    width: 375px !important;
    background: transparent;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .trailer {
    width: 500px;
    height: 255px;
  }
  .modal-content {
    width: 500px !important;
    background: transparent;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .trailer {
    width: 600px;
    height: 338px;
  }
  .modal-content {
    width: 600px !important;
    background: transparent;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .trailer {
    width: 600px;
    height: 338px;
  }
  .modal-content {
    width: 600px !important;
    background: transparent;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .trailer {
    width: 700px;
    height: 438px;
  }
  .modal-content {
    width: 700px !important;
    background: transparent;
  }
}
