.menu-top__logo {
  display: flex;
  width: 40px;
  height: 64px;
}

.navColor {
  background-color: #001529 !important;
  font-size: 17px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu-top__logo {
    width: 30px;
    height: 44px;
  }
  .navColor {
    font-size: 13px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu-top__logo {
    width: 35px;
    height: 49px;
  }
  .navColor {
    font-size: 15px;
  }
}
